{{- $isContainer := or (env "REMOTE_CONTAINERS") (env "REMOTE_CONTAINERS_IPC") (env "CODESPACES") -}}

{{- $machineType := "" -}}
{{- if $isContainer -}}
{{-   $machineType = "container" -}}
{{- else -}}
{{-   $machineType = promptChoiceOnce . "machine_type" "Machine type" (list "work" "personal" "server") -}}
{{- end -}}

{{- $email := "" -}}
{{- $name := "" -}}
{{- if not $isContainer -}}
{{-   $email = promptStringOnce . "email" "Email address" -}}
{{-   $name = promptStringOnce . "name" "Full name" -}}
{{- end -}}

{{- $hasBattery := false -}}
{{- if not $isContainer -}}
{{-   if eq .chezmoi.os "darwin" -}}
{{-     $pmsetOutput := output "sh" "-c" "pmset -g batt || true" -}}
{{-     if contains "present: true" $pmsetOutput -}}
{{-       $hasBattery = true -}}
{{-     end -}}
{{-   else if eq .chezmoi.os "linux" -}}
{{-     $batteryCheck := output "sh" "-c" "test -f /sys/class/power_supply/BAT0/uevent && grep -q 'POWER_SUPPLY_PRESENT=1' /sys/class/power_supply/BAT0/uevent && echo true || echo false" -}}
{{-     $batteryPresent := trim $batteryCheck -}}
{{-     if eq $batteryPresent "true" -}}
{{-       $hasBattery = true -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

[data]
    machine_type = {{ $machineType | quote }}
    is_container = {{ not (not $isContainer) }}
    has_battery = {{ $hasBattery }}
{{- if not $isContainer }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
{{- end }}

