# Theme
ZSH_THEMES_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/zsh/themes"
ZSH_THEME="oxide"
source "$ZSH_THEMES_DIR/$ZSH_THEME.zsh-theme"

# SetOpts
setopt completealiases
setopt inc_append_history
setopt share_history
setopt autocd
setopt autopushd
setopt completeinword
setopt correct
setopt histexpiredupsfirst
setopt histignorealldups
setopt histignorespace
setopt interactive

# Keyboard
bindkey -e
source "${XDG_CONFIG_HOME:-$HOME/.config}/zsh/zkbd"

# History Setting
HISTFILE=~/.zsh_history
HISTSIZE=10010
SAVEHIST=10000

# Completions
zstyle ':completion:*' menu select
autoload -Uz compinit && compinit
autoload -U +X bashcompinit && bashcompinit
autoload -Uz promptinit && promptinit
complete -o nospace -C /usr/bin/vault vault

# MAKE environment
MAKEFLAGS="-j$(nproc)"

{{- if not .is_container }}
export SSH_AUTH_SOCK="$HOME/.local/share/ssh/ssh-agent.socket"
export DOTFILES_REPO="https://codeberg.org/Gunsrude/dotfiles.git"
{{- end }}

# Dotfiles stuffs
alias c=chezmoi

# docker stuff
dockerrm() {
    docker container stop $1 && docker container rm $1
}

# Aliases
# env
alias sdl="env -u SDL_VIDEODRIVER"
alias xforce="SDL_VIDEODRIVER=x11"

# yay fixes
alias yay='MAKEFLAGS="-j$(nproc)" yay --sudoloop'
alias mirrorup='sudo reflector --latest 20 --protocol https --sort rate --save /etc/pacman.d/mirrorlist -n 8 -c US --threads 8'

alias ls='ls --time-style=long-iso'
alias followthewhiterabbit="kitty --class kitty-matrix --config ~/.config/kitty/matrix.conf --start-as fullscreen -- tmatrix -f 0.1,2 -g 10,40"

# Wine32 Default
alias wine32='WINEPREFIX=~/.local/share/wineprefixes/win32 WINEARCH="win32"'

# Text Editor of choice
alias vi='nvim'
alias vim='nvim'
alias ni='nvim'
alias nano='nvim'
export EDITOR=nvim
alias :q='exit'
alias e='nvim .'
function vsclear {
    rm -f ~/.local/share/nvim/sessions/*
    rm -f ~/.local/state/nvim/sessions/*
    rm -rf ~/.cache/nvim
}

# Python
alias venv='python -m venv'

# Dev stuff
alias devvim='devcontainer exec --workspace-folder . vim .'
alias devdown='docker rm -f $(docker ps -aq --filter "label=devcontainer.local_folder=$(pwd)")'
alias devup='devcontainer up \
  --workspace-folder . \
  --dotfiles-repository https://codeberg.org/Gunsrude/dotfiles \
  --dotfiles-install-command install.sh \
  --mount "type=bind,source=${SSH_AUTH_SOCK},target=/tmp/ssh-agent.sock" \
  --remote-env SSH_AUTH_SOCK=/tmp/ssh-agent.sock'
alias devrebuild='devdown && devup --remove-existing-container --build-no-cache'

# Other Stuff
alias s='source ${HOME}/.zshrc'
alias z='vim ${HOME}/.zshrc'
alias neofetch='neofetch --color_blocks off'
alias powershell=pwsh
alias pwsh=pwsh /nologo
function mc {
    mkdir $1
    cd $1
}
alias fucking='sudo'

# Def some chicken and egg stuff going on here
function dotsetup() {
  local remote="${1:?Usage: dotsetup <remote-host>}"
  ssh "$remote" "sh -c \"\$(curl -fsLS get.chezmoi.io)\" -- init --apply $DOTFILES_REPO"
}

function fuck() {
  local app_name=$1

  for i in $(ps aux | grep -i "$app_name" | grep -v grep | awk '{print $2}');do
    sudo kill -9 $i
  done
}

# PATH
if [ -d "${HOME}/.local/bin" ]; then path+=("${HOME}/.local/bin"); fi
if [ -d "${HOME}/bin" ]; then path+=("${HOME}/bin"); fi
#export PATH

function set_terminal_title() {
    local user_host="%n@%m"
    local current_dir="%~"
    print -Pn "\e]0;$user_host\a"
}

# Add workstation specific things like WSL settings
if [[ -f ~/.zshrc.local ]]; then
    source ~/.zshrc.local
fi

if [[ -d "$HOME/.nvm" ]]; then
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
fi

precmd_functions+=(set_terminal_title)

